@media screen and (max-width: 1023px) {
    header :not(.button-header){
    display: none;
    width: 100%;
    }

    .button-header{
        max-width: 91px;
        height: 31px;
        position: absolute;
        right: 0%;
        margin-right: 10px;
    }

    .section-left{
        width: 90%;
        height: 35vh;
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }

    .logo-Wide-coverage{
        max-width: 312px;
        height: 288px;
        margin: auto;
        display: block;     
    }

    .section-right{
        display: block;
        padding: 0;
        margin: 0;
        min-width: 280px;
        max-width: 1500px;
        width: 100%;
        height: 60vh;
        text-align: center;
        position: absolute;
        top: 18%;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        max-width: 278px;
        height: 60px;
        margin: auto;
        margin-bottom: 29px;
        text-align: center;
    }

    p{
        max-width: 304px;
        height: 165px;
        margin: auto;
        margin-bottom: 26px;
        text-align: center;
    }

    .button-right{
        max-width: 113px;
        height: 27px;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 540px) {

    p{
        width: 250px;
        font-size: 14px;    
    }

    .logo-Wide-coverage{
        margin-top: 30px;
        max-width: 300px;
    }
}

@media screen and (max-width: 280px) {
    p{
        width: 250px;
        font-size: 14px;    
    }

    .logo-Wide-coverage{
        margin-top: 50px;
        margin-left: 0;
        height: 300px;
        max-width: 250px;
        width: 90%;
    }

    .button-header{
        max-width: 91px;
        height: 31px;
        position: absolute;
        right: 0%;
        margin-right: 10px;
    }
} 